/.idea/.idea.JatodaBackendApi/.idea/.gitignore
/.idea/.idea.JatodaBackendApi/.idea/.name
/JatodaBackendApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/JatodaBackendApi/obj/Debug/net7.0/apphost
/JatodaBackendApi/bin/Debug/net7.0/appsettings.Development.json
/JatodaBackendApi/bin/Debug/net7.0/appsettings.json
/JatodaBackendApi/bin/Debug/net7.0/AspNetCoreRateLimit.dll
/JatodaBackendApi/bin/Debug/net7.0/AutoMapper.dll
/JatodaBackendApi/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/JatodaBackendApi/bin/Debug/net7.0/BCrypt.Net-Next.dll
/JatodaBackendApi/bin/Debug/net7.0/CommunityToolkit.HighPerformance.dll
/.idea/.idea.JatodaBackendApi/.idea/encodings.xml
/JatodaBackendApi/bin/Debug/net7.0/Humanizer.dll
/.idea/.idea.JatodaBackendApi/.idea/indexLayout.xml
/JatodaBackendApi/obj/Debug/net7.0/JatodaBa.59F31180.Up2Date
/JatodaBackendApi/bin/Debug/net7.0/JatodaBackendApi
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.AssemblyInfoInputs.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.assets.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.csproj.AssemblyReference.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.csproj.CoreCompileInputs.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.csproj.FileListAbsolute.txt
/JatodaBackendApi/obj/JatodaBackendApi.csproj.nuget.dgspec.json
/JatodaBackendApi/obj/JatodaBackendApi.csproj.nuget.g.props
/JatodaBackendApi/obj/JatodaBackendApi.csproj.nuget.g.targets
/JatodaBackendApi/bin/Debug/net7.0/JatodaBackendApi.deps.json
/JatodaBackendApi/bin/Debug/net7.0/JatodaBackendApi.dll
/JatodaBackendApi/obj/Debug/net7.0/ref/JatodaBackendApi.dll
/JatodaBackendApi/obj/Debug/net7.0/refint/JatodaBackendApi.dll
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.dll
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.GeneratedMSBuildEditorConfig.editorconfig
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.genruntimeconfig.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.GlobalUsings.g.cs
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.MvcApplicationPartsAssemblyInfo.cache
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.MvcApplicationPartsAssemblyInfo.cs
/JatodaBackendApi/bin/Debug/net7.0/JatodaBackendApi.pdb
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.pdb
/JatodaBackendApi/bin/Debug/net7.0/JatodaBackendApi.runtimeconfig.json
/JatodaBackendApi/obj/Debug/net7.0/JatodaBackendApi.sourcelink.json
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/JatodaBackendApi/bin/Debug/net7.0/Microsoft.OpenApi.dll
/JatodaBackendApi/bin/Debug/net7.0/Minio.dll
/JatodaBackendApi/bin/Debug/net7.0/Mono.TextTemplating.dll
/JatodaBackendApi/obj/Debug/net7.0/staticwebassets/msbuild.build.JatodaBackendApi.props
/JatodaBackendApi/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.JatodaBackendApi.props
/JatodaBackendApi/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.JatodaBackendApi.props
/JatodaBackendApi/bin/Debug/net7.0/Newtonsoft.Json.dll
/JatodaBackendApi/bin/Debug/net7.0/Services/LoggerService/nlog.config
/JatodaBackendApi/bin/Debug/net7.0/NLog.dll
/JatodaBackendApi/bin/Debug/net7.0/NLog.Extensions.Logging.dll
/JatodaBackendApi/bin/Debug/net7.0/Npgsql.dll
/JatodaBackendApi/bin/Debug/net7.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
/JatodaBackendApi/bin/Debug/net7.0/Pipelines.Sockets.Unofficial.dll
/JatodaBackendApi/obj/project.assets.json
/JatodaBackendApi/obj/project.nuget.cache
/JatodaBackendApi/obj/project.packagespec.json
/JatodaBackendApi/obj/rider.project.restore.info
/JatodaBackendApi/bin/Debug/net7.0/StackExchange.Redis.dll
/JatodaBackendApi/obj/Debug/net7.0/staticwebassets.build.json
/JatodaBackendApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/JatodaBackendApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/JatodaBackendApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/JatodaBackendApi/bin/Debug/net7.0/System.CodeDom.dll
/JatodaBackendApi/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/JatodaBackendApi/bin/Debug/net7.0/System.IO.Hashing.dll
/JatodaBackendApi/bin/Debug/net7.0/System.Reactive.dll
/.idea/.idea.JatodaBackendApi/.idea/vcs.xml
